/* All theme colors can be found at: http://www.0to255.com/006699 */

pre { font-size: 14px !important; }

article,
.entry-content {
  font-size: 16px;
  text-align: justify;
}

body {
  background-color: #eee;
  font-family: "Helvetica Neue CE 600 Condensed","Helvetica Neue LT Condensed","Helvetica Neue 600 Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
}

blockquote {
  font-style: italic;
  font-size: inherit;
  font-style: italic;
  border-color: #aaa;
  text-align: left;
}

blockquote .entry-content p,
blockquote p { margin: 0 !important; }

code {
  color: #3b4a4e;
  background-color: #eef9ff;
}

footer { margin-bottom: 20px; }

h1,h2,h3,h4,h5,h6,
.navbar,
.panel,
.post-info {
  text-align: left;
  font-family: CabinSemiBold,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

hr { border-top: 1px solid #ccc; }

/* Remove underline from FontAwesome icons */
i[class^="icon-"]:before {
	display: inline-block;
	text-decoration: none;
  border: none;
}

ul {
  list-style-type: square;
  overflow: auto;
}

#related-posts {
  margin-top: 24px;
  margin-bottom: 0;
}

.attribution { color: #999; }

.categories-timestamp {
  color: #999;
  display: inline-block;
  width: 20%;
  max-width: 150px;
}

.entry-content a { color: #069; }
.entry-content h1,h2,h3,h4,h5,h6 { clear: both; }
.entry-content p { margin: 18px 0; }
.entry-content ol,
.entry-content ul { text-align: left; }
.entry-content h1,
.entry-content h2,
.entry-content h3 { margin-top: 24px; }

.list-group:last-child {
  margin-bottom: 0;
} /* Removes extra margin at bottom of sidebar */

.navbar { margin-bottom: 50px; } /* Top navigation bar */
.navbar-default { border-color: #0af; }
.navbar-fixed-top { border-width: 0 0 5px; }
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus { background-color:#666; }
.navbar .nav>li>a {
  font-size: 14px;
  color: #9df;
}

.page-content img {
  float: left;
  margin: 0 20px 20px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.page-header { /* Article tiles on their own page */
  margin: 20px 0 20px;
  border: none;
  padding-bottom: 0;
}
.page-header .fa-lg {
  color: #aaa;
  font-size: 36px;
  vertical-align: -5%;
}

.panel { /* e.g. Holds post information, date published */
  background: transparent;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding-bottom: 20px;
}
.panel-body { padding: 0 0 0 5px; }

.post-info { /* The date, tags below post titles */
  line-height: 28px;
  margin-bottom: 0;
}
.post-info .published .fa-calendar { /* Makes total width of icon 20px */
  padding-right: 5px;
}
.post-info .fa-tags { padding-right: 3px; }

.tagcloud li {
  color: #069;
  font-size: 11px;
}

.well {
  background-color: #fff;
  border: 1px solid #ccc;
}
.well-sm { padding: 0; }

#banner {
  margin-top: 5px;
  background-color: #000;
  background-position: right center;
  background-size: auto 500px;
}
#banner .intro {
  color: #0af;
  opacity: 1.0;
}
#banner h1,
#banner p {
  font-family: Cabin,Helvetica,Arial,sans-serif;
  font-style: italic;
}
/*
  -moz-box-shadow: inset 0px 0px 5px 1px #999;
  -webkit-box-shadow: inset 0px 0px 5px 1px #999;
  box-shadow: inset 0px 0px 5px 1px #999;
*/

#main { margin-top: 20px; }
#links li.list-group-item,
#portfolio li.list-group-item { padding: 5px 0; }
#social li.list-group-item { padding: 5px 0; }
#sidebar { margin-top: 20px; }
